[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.12"
pydantic = "==2.8.2"
uvicorn = "==0.34.2"
numpy = "==1.26.4"
keras = "==3.9.2"
torch = "==2.7.0"

[dev-packages]

[requires]
python_version = "3.12"
